<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.blankapp.alfred.coding</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>EAA3E124-DE75-4C9A-A97D-BD33C0B0E301</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>LiJianying</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Coding.Net</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>cd</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AAD484A2-18E3-412C-80A5-64B6A09EF8CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在获取中...</string>
				<key>script</key>
				<string>/usr/local/bin/node index.js "{query}"</string>
				<key>title</key>
				<string>Coding, 让开发更简单！</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EAA3E124-DE75-4C9A-A97D-BD33C0B0E301</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>AAD484A2-18E3-412C-80A5-64B6A09EF8CD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EAA3E124-DE75-4C9A-A97D-BD33C0B0E301</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/lijy91/alfred-coding-workflow</string>
</dict>
</plist>
